<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic"
          rel="stylesheet" type="text/css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/static/css/style.css">

    <!-- CSS Fileupload -->
    <link rel="stylesheet" href="/static/css/fileinput.min.css">

    <!-- CSS Timepicker -->
    <link rel="stylesheet" type="text/css" media="screen"
          href="/static/css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- JavaScript Fileupload -->
    <script src="/static/js/fileinput.min.js"></script>

    <script type="text/javascript" src="/static/js/jquery.mask.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.time').mask('00:00:00');
        });
    </script>

</head>
<body>
<div class="container containertop">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
            <img src="/static/images/logo.jpg" class="img-responsive" alt="Responsive image">
        </div>
    </div>
</div>

<form action="/generate" method="post">
    <div class="container containertop">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="pipelineInputCheckBox" id="pipelineInputCheckBox"> Generate Pipeline Input Mocks
            </label>
        </div>
    </div>

    <div class="container containertop" id="PipelineInputTable" style="display: none">

        <div class="row rowheader norowmargin">
            <div class="col-xs-6"><strong>Input Name</strong></div>
            <div class="col-xs-6"><strong>Input Size</strong></div>
        </div>



        {% for file, size in files.items() %}
        <div class="row rowbody norowmargin">
            <div class="col-xs-6">{{file}}</div>
            <div class="col-xs-6">
                <div class="input-group">
                    <input name="{{ file }}" type="text" class="form-control" value="{{ size }}" placeholder="">
                    <span class="input-group-addon" id="basic-addon1">MB</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="container containertop">
        <div class="row rowheader norowmargin">
            <div class="col-xs-2"><strong>Executable Name</strong></div>
            <div class="col-xs-2"><strong>Input Name</strong></div>
            <div class="col-xs-2"><strong>Output Name</strong></div>
            <div class="col-xs-2"><strong>CPU Cores</strong></div>
            <div class="col-xs-2"><strong>RAM</strong></div>
            <div class="col-xs-2"><strong>Wall Time</strong></div>
        </div>

        {% for stubinfo in executables %}
        <div class="row rowbody norowmargin">
            <div class="col-xs-2">{{ stubinfo.command }}</div>
            <div class="col-xs-2">N/A</div>
            <div class="col-xs-2">
                <a id="{{stubinfo.command}}_button" class="col-xs-12" href="#" type="button">Show</a>
            </div>

            <div class="col-xs-2">
                <div class="input-group">
                    <input type="text" name="{{stubinfo.command}}_cores" class="form-control"
                           value="{{ stubinfo.cores }}" placeholder="">
                    <span class="input-group-addon" id="basic-addon1">Cores</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="input-group">
                    <input type="text" class="form-control" name="{{stubinfo.command}}_ram" value="{{ stubinfo.ram }}" placeholder="">
                    <span class="input-group-addon" id="basic-addon1">MB</span>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="input-group bootstrap-timepicker timepicker">
                    <input type="text" data-mask="00:00:00" class="form-control input-small time" name="{{stubinfo.command}}_walltime"
                           value="{{ stubinfo.walltime }}">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-time"></i>
					</span>
                </div>
            </div>
        </div>


        <div id="{{stubinfo.command}}_table" class="row rowbody norowmargin" style="display: none">
            {% for file in stubinfo.outputfiles %}

            <div class="row rowbody norowmargin">

                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">{{ file[0] }}</span>
                        <input type="text" name="{{stubinfo.command}}_{{ file[0] }}_size" class="form-control"
                               value="50" placeholder="">
                        <span class="input-group-addon" id="basic-addon1">MB</span>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>

        {% endfor %}
    </div>

    <div class="container containertop">
        <button class="btn btn-lg btn-success col-xs-12" type="submit">Generate</button>

    </div>
</form>

<script type="text/javascript">
    $(function () {

        // Show / Hide Pipeline Input
        $(document).ready(function () {
            $('#pipelineInputCheckBox').change(function () {
                $("#PipelineInputTable").toggle("blind");

            });

            {% for stubinfo in executables %}
                $('#{{stubinfo.command}}_button').click(function () {
                    $("#{{stubinfo.command}}_table").toggle("blind");
                });
            {% endfor %}
        });
    });
</script>

</body>
</html>